// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((

  //
  header-bg: #ff0000,
  header-fg: #ffffff,
  popover-border: grey,

  sidebar-bg: #ff0000,
  menu-bg: #ff0000,
  menu-fg: #ffffff,
  menu-icon-color: #ffffff,
  menu-item-separator: #ff0000,
  
  color-primary: grey,

  form-control-selected-border-color: grey,
  radio-checked-border-color: grey,
  radio-checked-checkmark: grey,

  
  //
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  // switcher-background: #ebeff5,
  switcher-background: grey,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), default, default);

$nb-themes: nb-register-theme((

  //
  layout-bg: rgb(19, 18, 18),
  color-bg: rgb(36, 31, 31),
  shadow: #302f2f,
  separator: rgb(19, 18, 18),
  form-control-bg: #443f3f,
  smart-table-header-bg: rgb(46, 44, 44),
  smart-table-bg-even: rgb(31, 30, 30),
  form-control-placeholder-color: #ffffff,
  color-fg-text: #ffffff,
  smart-table-fg-secondary: grey,  
  smart-table-bg-active: rgb(46, 44, 44),

  header-bg: #ff0000,
  header-fg: #ffffff,
  popover-border: grey,

  sidebar-bg: #ff0000,
  menu-bg: #ff0000,
  menu-fg: #ffffff,
  // menu-active-fg: dark
  menu-icon-color: #ffffff,
  menu-item-separator: #ff0000,
  
  color-primary: grey,

  form-control-selected-border-color: grey,
  radio-checked-border-color: grey,
  radio-checked-checkmark: grey,

  
  //
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  // switcher-background: #ebeff5,
  switcher-background: grey,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #2b2d34,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: 	linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #f7fafb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
), corporate, corporate);
