<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Proxies</nb-card-header>
        <nb-card-body>
            <div class="row mb-3">
                <div class="col-sm-12">
                <textarea rows="5" placeholder="Text Area" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>
              </div>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>
