<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Create the Task</nb-card-header>
        <nb-card-body>
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <div class="btn-group btn-group-toggle btn-group-full-width" data-toggle="buttons">
                            <label ngbButtonLabel class="btn btn-primary" [class.active]="checkboxModel.left">
                              <input ngbButton type="checkbox" [(ngModel)]="checkboxModel.small" name="small"> Small
                            </label>
                            <label ngbButtonLabel class="btn btn-primary" [class.active]="checkboxModel.middle">
                              <input ngbButton type="checkbox" [(ngModel)]="checkboxModel.medium" name="medium"> Medium
                            </label>
                            <label ngbButtonLabel class="btn btn-primary" [class.active]="checkboxModel.right">
                              <input ngbButton type="checkbox" [(ngModel)]="checkboxModel.large" name="large"> Large
                            </label>
                            <label ngbButtonLabel class="btn btn-primary" [class.active]="checkboxModel.right">
                                <input ngbButton type="checkbox" [(ngModel)]="checkboxModel.xlarge" name="xlarge"> X-Large
                              </label>
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCategory" class="col-sm-3 col-form-label text-center">Category</label>
                    <div class="col-sm-9">
                        <nb-select placeholder="Select Category" outline status="primary">
                            <nb-option value="1">jackets</nb-option>
                            <nb-option value="2">shirts</nb-option>
                            <nb-option value="3">shoes</nb-option>
                            <nb-option value="4">shorts</nb-option>
                          </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputKeyword" class="col-sm-3 col-form-label text-center">Keyword</label>
                    <div class="col-sm-9">
                        <input type="text" nbInput fullWidth  class="form-control" id="inputKeyword" placeholder="Keyword">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputProxy" class="col-sm-3 col-form-label text-center">Proxy</label>
                    <div class="col-sm-9">
                        <nb-select placeholder="Select Proxy" outline status="primary">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                            <nb-option value="3">Option 3</nb-option>
                            <nb-option value="4">Option 4</nb-option>
                          </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBilling" class="col-sm-3 col-form-label text-center">Billing Profile</label>
                    <div class="col-sm-9">
                        <nb-select placeholder="Select Billing" outline status="primary">
                          <nb-option value="1">Option 1</nb-option>
                          <nb-option value="2">Option 2</nb-option>
                          <nb-option value="3">Option 3</nb-option>
                          <nb-option value="4">Option 4</nb-option>
                        </nb-select>
                      </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                      <button type="submit" nbButton status="primary" class="btn float-right">ADD TASK</button>
                    </div>
                  </div>
            </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>
